<!DOCTYPE html>
<html lang="en" xmlns:mvc="http://www.springframework.org/schema/mvc"
      xmlns:context="http://www.springframework.org/schema/context">
<head>
    <mvc:annotation-driven enable-matrix-variables="true"/>
    <context:component-scan base-package="com.example.demo"/>
    <mvc:default-servlet-handler/>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="../jquery-3.3.1.js"></script>
</head>
<body>
<h3>空气质量检测系统-管理员管理界面</h3>
<a href="/ManagerSystem/mDeviceSystem">管理员管理设备界面</a>
<a href="/ManagerSystem/mUserSystem">管理员管理用户界面</a>
<a href="/ManagerSystem/mUDSystem">管理员管理用户-设备界面</a>
</body>
</html>