<!DOCTYPE html>
<html lang="en" xmlns:mvc="http://www.springframework.org/schema/mvc"
      xmlns:context="http://www.springframework.org/schema/context">
<head>
    <mvc:annotation-driven enable-matrix-variables="true"/>
    <context:component-scan base-package="com.example.demo"/>
    <mvc:default-servlet-handler/>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="../jquery-3.3.1.js"></script>
</head>
<body>
<h3>空气质量检测系统-用户访问界面</h3>
<a href="/UserSystem/uDeviceSystem">用户添加设备界面</a>
<a href="/UserSystem/uDataSystem">用户查看设备数据界面</a>
</body>
</html>